<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Rain Check</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        {{> header}}
        {{> menubar}}
            <div class="main">
                <div class="tab">
                    <form>
                        <button class="tablinks" onclick="window.location.href='http://www.google.com'">View</button>
                        <button class="tablinks" onclick="viewTab('add')">Add</button>
                    </form>
                </div>
                <div class="rec-text">
                    {{#if (eq tab 'view')}}
                        <div id="view_garments" class="tabcontent">
                            <table>
                                <tr>
                                    <th>Name</th>
                                    <th>Category</th>
                                    <th>Image</th>
                                    <th>Date Modified</th>
                                    <th>Edit</th>
                                    <th>Delete</th>
                                </tr>
                                {{#each garment_list}} 
                                {{!-- {{#each this}} {{@key}}: {{this}} {{/each}}  --}}
                                    <tr>
                                        <td>{{this.garment_name}}</td>
                                        <td>{{this.category}}</td>
                                        <td>{{this.image_url}}</td>
                                        <td>{{this.date_updated}}</td>
                                        <td>Edit</td>
                                        <td>Delete</td>
                                    </tr>
                                {{/each}}
                            </table>
                        </div>
                        <div>
                            <form action="/garments" method="POST">
                                <label for="garment_name">Name:</label>
                                <input type="text" id="garment_name"><br>
                                <label for="garment_category">Category:</label>
                                <select name="garment_category" id="garment_category">
                                    <option value="placeholder">Placeholder</option>
                                </select><br>
                                <label for="garment_image">Upload an image:</label>
                                <input type="file" name="garment_image" id="garment_image" accept="image/png, image/jpeg"><br>
                                <input type="submit">
                            </form>
                        </div>
                    {{/if}}
                    {{#if (eq tab 'add')}}
                        <div id="add_garments" class="tabcontent">
                            Add a garment.
                        </div>
                    {{/if}}
                </div>
            </div>
    </body>
</html>